@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/variables.scss';

.employees {
  margin: 18px 16px 0 16px;

  &__list-item {
    display: flex;
    width: 100%;
    height: 80px;
    margin-bottom: 4px;
  }

  &__name-tag {
    display: flex;
    align-items: center;
    width: 255px;
    height: auto;
    margin-top: 22px;
    cursor: pointer;

    @include for-desktop {
      width: 0;
      width: 1160px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
  }

  &__position {
    margin-top: 3px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: $position-birthdate-color;
  }

  &__img {
    margin: 4px 16px 4px 0;
    width: 72px;
    height: 72px;
    border-radius: 100%;
  }

  &__name {
    margin-right: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $text-color;
  }

  &__tag {
    margin-top: 1px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: $tag-year-description-color;
  }

  &__birthdate {
    position: relative;
    margin-right: 4.5px;
    margin-left: auto;
    top: 4px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $position-birthdate-color;
  }

  &__year-separator {
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__line {
    position: relative;
    content: '';
    width: 72px;
    border-bottom: $line;

    @include for-desktop {
      width: 508px;
    }
  }

  &__year-label {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: $label-color;
  }
}
