@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/variables.scss';

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
  width: 343px;
  height: 40px;

  @include for-desktop {
    margin: 6px 16px;
    width: 1248px;
  }

  &__enter {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 40px;
    border-radius: 20px;
    background-color: $profile-card-background-color;
  }

  &__input {
    padding: 0 8px;
    width: 223px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    background-color: $profile-card-background-color;

    @include for-desktop {
      width: 1124px;
    }

    &::placeholder {
      color: $label-color;
    }
  }

  &__sort-icon {
    margin-left: auto;
    cursor: pointer;
  }

  &__cancel-enter {
    margin: 0 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: $link-active-input-color;
  }
}
