@import './breakpoints.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 375px;
  min-height: 100vh;
  max-height: 100%;
  box-shadow: $page-profile-box-shadow;
  font-family: 'Inter', sans-serif;

  @include for-desktop {
    max-width: 1280px;
  }
}
