@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/variables.scss';

.position-filter {
  margin-top: 14px;
  height: 36px;

  &__list {
    display: flex;
    justify-content: space-between;
    border-bottom: $list-border-bottom;
    overflow-x: auto;

    @include for-desktop {
      justify-content: start;
    }

    &::-webkit-scrollbar {
      height: 0;
    }

    &-item {
      padding: 8px 12px 7px 12px;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      color: $tag-year-description-color;
      cursor: pointer;

      @include for-desktop {
        padding: 9px 12px 7px;
      }

      &:first-child {
        margin-left: 16px;
      }

      &_active {
        font-weight: 600;
        color: $text-color;
        border-bottom: $input-border;
      }
    }
  }
}
